@{
    ViewBag.Title = "Form";
}

<style>
    .bot {
        padding-top: 10px;
        padding-left: 50%;
    }
</style>



@model List<ShopManager.Models.StoreInfo>
    <br />
    <table>
        <caption>Список магазинов</caption>
        <tr>
            <th>Идентификатор</th>
            <th>Наименование</th>
            <th>Адрес</th>
            <th>Режим работы</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        @foreach (ShopManager.Models.StoreInfo company in Model)
        {
            <tr>
                <th>@company.Id</th>
                <th>@company.Name</th>
                <th>@company.Address</th>
                <th>@company.OpeningHours</th>
                <th>                                        
                    <input type="button" name="submit" id="@company.Id" value="Перейти к товарам магазина!" onClick="GetAllProduct(@company.Id)">                
                </th>
                <th></th>
                <th></th>
            </tr>
        }
    </table>

    <br />

   <div id="productTable"></div>

<script type="text/javascript">
    
    function GetAllProduct(id) {

        $.ajax({
            url: '/api/store/' + id,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                WriteResponse(data, id); 
            },
            error: function (x, y, z) {
                alert(x + '/n' + y + '/n' + z);
            }

        });
       
    }

    function WriteResponse(data, id) {
        var strResult = "<table><caption>Список товаров " + id + "-го магазина</caption><tr><th>Идентификатор</th><th>Наименование</th><th>Описание</th></tr>";
        $.each(data, function (index, data) {
            strResult += "<tr><td>" + data.Id + "</td><td>" + data.Name + "</td><td>" + data.Description + "</td>";
        });
        strResult += "</table>";

        $("#productTable").html(strResult);
    }
       
        

    
</script>